// MEASURES
$header-h: 50px;
$base-space: 20px;

// COLOURS
$main-bg: #fafafa; 
$highlight-bg: #ffffff;
$secondary-bg: #fe4611;
$footer-bg: #181515;
$footer-text: #ffffff;
$secondary-text: #fe4611;
$secondary-btn-text: #fafafa;
// $primary: #1e1e1e;
// $info: #bfbfbf;